.HeaderImage,
.SecondaryHeaderImage {
  padding: 10px 0 10px 10px;
}
.SecondaryHeaderImage {
  max-width: 300px;
  max-height: 43px;
}
.HeaderTitle {
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0 10px 20px;
}
.LogoCombo {
  margin-left: 10px;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .HeaderImage {
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
  .SecondaryHeaderImage {
    display: none;
  }
  .HeaderTitle {
    display: none;
  }
  .SecondaryHeaderImage {
    display: none;
  }
  .HeaderTitle {
    display: none;
  }
}

.GridLayout {
}
.GridCell {
  width: 300px;
  height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.29);
  border: 2px solid #fff;
}
.TileTitle {
  position: absolute;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  overflow: hidden;
}
.TileTitle div {
  position: absolute;
  color: #747474;
  top: 12px;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: calc(100% - 40px);
  font-size: 14px;
}
.TileHandle {
  position: absolute;
  right: 5px;
  top: 7px;
  color: #d8d8d8;
}
.LogoutButton {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  top: 10px;
  width: 145px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  color: #333;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 700px) {
  .LogoutButton {
    width: 60px;
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
}
.LogoutButton i {
  position: absolute;
  font-size: 15px;
  top: 12px;
  left: 22px;
}
.LogoutButton:hover {
  background: #eeeeee;
}

.SettingsButton {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 160px;
  top: 10px;
  width: 145px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  color: #333;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 700px) {
  .SettingsButton {
    right: 70px;
    width: 60px;
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
}
.SettingsButton i {
  position: absolute;
  font-size: 15px;
  top: 12px;
  left: 22px;
}
.SettingsButton:hover {
  background: #eeeeee;
}

.Footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  padding: 5px;
  color: #ccc;
}

.SettingsMenu {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.CloseSettings {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.CloseSettings i {
  font-size: 2em;
}

.SettingsInner {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav content";

  -ms-grid-columns: 250px 1fr;

      grid-template-columns: 250px 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  grid-gap: 10px;
  padding-top: 20px;
}

.SettingsInner nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  margin-left: 0.5rem;
}
.SettingsInner nav div {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
  margin: 0 5px 10px 0;
}
.SettingsInner nav div i {
  padding: 0 5px 0 0;
}

.SettingsInner main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  border-left: 1px solid #ccc;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .SettingsInner {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    grid-gap: 10px;
    height: 100vh;
  }

  .SettingsInner nav {
    margin: 0;
    border: none;
  }
  .SettingsInner nav div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .SettingsInner nav span {
    display: none;
  }
}

.ActiveMenu {
  font-weight: bolder;
}

.DateTimePicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.DateTimePicker div {
  padding: 0 20px 0 0;
}

.ContactInfoLogoParent {
  position: relative;
  left: 3px;
}
.ContactInfoLogo {
  position: relative;
  margin-top: -6px;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
}
.SettingsMenuItemsWrapper {
  height: 55px;
  background-color: #239F85;  
}
.SettingsMenuItem {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}
.SettingsMenuItem > i {
  position: relative;
  bottom: -6px;
}

.OKButton {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.OKButton:hover {
  background: #0053ba;
}
.OKButton:focus {
  background: #0053ba;
}
.OKButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
.OKButton:active {
    transform: scale(0.99);
}
